* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1.5rem;
  text-align: center;
  background-color: #000;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.heading {
  width: 100%;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.card {
  position: relative;
  padding: 25px 3rem;
  border-radius: 16px;
  background-color: #fff;
}

.card img {
  width: 250px;
  margin: 1rem 0;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 82%);
}
.card p {
  text-align: left;
  font-family: cursive;
}
